@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@font-face {
    font-family: 'SDMiSaeng';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    scroll-behavior:smooth;
}

body {
    overflow: hidden;
}

::selection {
    /* background-color: #A9B0B5; */
    /* background-color: #BFB3B2; */
    background-color: rgba(148, 174, 183, 0.5);
}

::-moz-selection {
    background-color: rgba(148, 174, 183, 0.5);
}

::-webkit-selection {
    background-color: rgba(148, 174, 183, 0.5);
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

table {
    box-sizing: border-box;
}

/* 인트로 화면 */
#loader{
    /* position: absolute; */
    content: '';
    width: 100%;
    height: 100%;
    /* top: 0; */
    /* left: 0; */
    background-color: hsla(0, 0%, 0%, 1);
    overflow: hidden;
    z-index: 50;
}

.loader_wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5000;
}

.loader_text li{
    display: inline-block;
    margin-right: 20px;
    font-size: 7.5em;
    color: #fff;
    opacity: 1;
    transition: all 1s ease;
    font-weight: bold;
}

.loader_text li:nth-child(7){
    margin-right: 0;
}

.enter_button{
    display: block;
    text-align: center;
    font-size: 2em;
    color: #fff;
    opacity: 1;
    transition: all 1s ease 0.5s;
    width: 500px;
    height: 55px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    font-weight: normal;
    /* border: 3px solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box; */
    border: 3px solid transparent;
    /* border-image: linear-gradient(to right, red 0%, orange 100%); */
    border-image: linear-gradient(to left top, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    border-image-slice: 1;
}

.enter_button:hover {
    animation: play 0.25s ease-in infinite;
}

@keyframes play {
    0% {
        border: 3px solid transparent;
        border-image: linear-gradient(to left top, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
        border-image-slice: 1;
    }
    20% {
        border: 3px solid transparent;
        border-image: linear-gradient(to left top, #fad648, #a767e5, #12bcfe, #44ce7b, #fad648);
        border-image-slice: 1;
    }
    35% {
        border: 3px solid transparent;
        border-image: linear-gradient(to left top, #a767e5, #12bcfe, #44ce7b, #fad648, #a767e5);
        border-image-slice: 1;
    }
    50% {
        border: 3px solid transparent;
        border-image: linear-gradient(to left top, #12bcfe, #44ce7b, #fad648, #a767e5, #12bcfe);
        border-image-slice: 1;
    }
    80% {
        border: 3px solid transparent;
        border-image: linear-gradient(to left top, #44ce7b, #fad648, #a767e5, #12bcfe, #44ce7b);
        border-image-slice: 1;
    }
}

.hidden_loader .loader_text li, .hidden_loader#loader .enter_button{
    opacity: 0;
}

.hidden_loader .loader_text li:nth-child(1) {
    transform: translate3d(-60px, 0, 0);
}

.hidden_loader .loader_text li:nth-child(2) {
    transform: translate3d(-40px, 0, 0);
}

.hidden_loader .loader_text li:nth-child(3) {
    transform: translate3d(-20px, 0, 0);
}

.hidden_loader .loader_text li:nth-child(4) {
    transform: translate3d(0px, 0, 0);
}

.hidden_loader .loader_text li:nth-child(5) {
    transform: translate3d(20px, 0, 0);
}

.hidden_loader .loader_text li:nth-child(6) {
    transform: translate3d(40px, 0, 0);
}

.hidden_loader .loader_text li:nth-child(7) {
    transform: translate3d(60px, 0, 0);
}

.hidden_loader .enter_button{
    transform: translate3d(0, -30px, 0);
}


/* 실제 content */
#main {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    font-weight: lighter;
    font-size: 40px;
    background-color: #eee7e1;
    display: flex;
}

#left_nav{
    height: 100%;
    width: 5%;
}

#code {
    width: 100%;
    height: 60%;
}

#dev {
    width: 400px;
    height: 94px;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

#git {
    display: inline;
}

#git a {
    font-size: 18px;
    font-weight: bold;
    color: #616060;
}

#tistory {
    display: inline;
}

#tistory a {
    font-size: 18px;
    font-weight: bold;
    color: #616060;
}

#dev a:hover{
    color: #fff;
}

#copyright{
    width: 100%;
    height: 40%;
}

#copyright p {
    height: 5px;
    width: 130px;
    font-size: 15px;
    font-weight: bold;
    transform: rotate(-90deg);
    margin-top: 200px;
    color: #616060;
}

#main_content{
    height: 100%;
    width: 47%;
    display: flex;
    flex-direction: column;
}

#main_1{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    user-select: none;
}

#main_2{
    width: 100%;
    height: 45%;
    padding-left: 10%;
}

#main_2 h3{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 30px 50px 30px 50px;
    letter-spacing: 0.2em;
    font-family: 'EliceDigitalBaeum_Bold';
}

#main_2 p{
    font-size: 1.7rem;
    padding-left: 50px;
    line-height: 170%;
    font-family: 'SDMiSaeng';
    border-right: 1px solid rgba(255, 255, 255, 0);
    display: inline-block;
}

#main_2 p.csor{
    animation: csorr 0.4s infinite;
}

@keyframes csorr {
    0%{
        border-right: 1px solid #fff;
    }
    50%{
        border-right: 1px solid #000;
    }
    100%{
        border-right: 1px solid #fff;
    }
}

#main_tab{
    height: 100%;
    width: 48%;
    overflow: hidden;
}

#contact{
    width: 100%;
    height: 100%;
    background-color: #383838;
    display: flex;
    overflow: hidden;
}

#contact_content{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#contact_content h1{
    color: #fff;
    font-size: 200px;
    text-align: center;
    /* font-family: 'Abril Fatface', cursive; */
    font-family: 'Courgette', cursive;
    margin-top: -50px;
}

#contact_content h2{
    font-size: 100px;
    color: #fff;
    text-align: center;
    /* font-family: 'Abril Fatface', cursive; */
    font-family: 'Courgette', cursive;
}

#sns{
    width: 70%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.hex_wrap, #sns a{
    display: block;
    margin:  auto;
    display: flex;
    text-align: initial;
    width: 130px;
    height: 130px;
    cursor: pointer;
}

.hex{
    position: relative;
    width: 46%;
    height: 80%;
    margin: auto;
    color: white;
    background: linear-gradient(-180deg, #D6E5FA, #A460ED);
    display: flex;
    align-content: center;
    justify-content: center;
    transition: 0.5s;
}

.hex i {
    z-index: 1;
    margin: auto;
    font-size: 40px;
    color: transparent;
    background: linear-gradient(45deg, #F94892, #6867AC);
    background-clip: text;
    -webkit-background-clip: text;
}

.hex::before, .hex::after{
    position: absolute;
    content: '';
    background: inherit;
    height: 100%;
    width: 100%;
    border-radius: 0;
    transition: 0.5s;
    transform-origin: center;
}

.hex::before{
    transform: rotateZ(60deg);
}

.hex::after{
    transform: rotateZ(-60deg);
}

.hex:hover{
    border-radius: 50px;
    transition: 0.5s;
    background: linear-gradient(-180deg, #A460ED, #D6E5FA);
}

.hex:hover i{
    color: transparent;
    background: linear-gradient(45deg, #fff, #F94892);
    background-clip: text;
    -webkit-background-clip: text;
}

.hex:hover::before{
    border-radius: 50px;
    transition: 0.5s;
}

.hex:hover::after{
    border-radius: 50px;
    transition: 0.5s;
}

#contact_myimg_home{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: -50px;
}

/* #my_photo{
    width: 70%;
    height: 70%;
    border: 1px solid blue;
    border-radius: 50%;
} */

#my_photo {
    background-image: url(../img/jiwon.jpg);
    background-position:  top right;
    background-size: cover;
    background-repeat: no-repeat;
}

#contact_myimg_home h3{
    font-family: 'Courgette', cursive;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 80px;
    font-size: 25px;
}

#contact_myimg_home p {
    font-size: 14px;
    color: #616060;
    font-family: 'Courgette', cursive;
    margin-top: 15px;
    font-weight: bold;
}

#home_ct{
    position: absolute;
    top: 5%;
    left: 1%;
    width: 150px;
    height: 150px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#home_ca{
    position: absolute;
    top: 75%;
    left: 1%;
    width: 150px;
    height: 150px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#home_ca p{
    color: #616060;
    font-size: 15px;
    transform: rotate(-90deg);
    font-weight: bold;
}

#home_ct a{
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    transform: rotate(-90deg);
}

#home_ct a:hover{
    color:#A460ED;
}
