@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@font-face {
    font-family: 'SDMiSaeng';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiBaseType-RegularA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ghanachoco';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BCcardB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.1/BCcardB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    scroll-behavior: smooth;
}

ul,
li,
ol {
    list-style: none;
}

::selection {
    /* background-color: #A9B0B5; */
    /* background-color: #BFB3B2; */
    background-color: rgba(148, 174, 183, 0.5);
}

::-moz-selection {
    background-color: rgba(148, 174, 183, 0.5);
}

::-webkit-selection {
    background-color: rgba(148, 174, 183, 0.5);
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    overflow: hidden;
}

/* content */
.project {
    height: 100%;
    position: relative;
    width: 900%;
}

.box {
    height: 100%;
    position: relative;
    color: #fff;
    font-size: 24px;
    float: left;
    width: calc(100%/9);
    background-color: #383838;
}

.box h1 {
    font-family: 'Courgette', cursive;
    text-align: center;
    font-size: 3.0em;
    margin-top: 2%;
    letter-spacing: 0.2em;
}

.project_box {
    width: 1300px;
    height: 65%;
    margin: 50px auto 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.project_left {
    width: 50%;
    height: 100%;
}

.project_image {
    width: 98%;
    height: 74%;
    border: 2px solid #fff;
    border-radius: 5px;
    margin-top: 3%;
    margin-left: 3%;
    overflow: hidden;
}

#pj1 {
    background-image: url('../img/project/hollys_main.jpeg');
    background-position: top;
    background-size: cover;
}

#pj2{
    background-image: url('../img/project/ridibooks_main.jpeg');
    background-position: top;
    background-size: cover;
}

#pj3{
    background-image: url('../img/project/asac_main.jpeg');
    background-position: top;
    background-size: cover;
}

#pj4{
    background-image: url('../img/project/lol_main.jpeg');
    background-position: top;
    background-size: cover;
}

#pj5 {
    background-image: url('../img/project/shoppingmall_main.jpeg');
    background-position: top;
    background-size: cover;
}

#pj7 {
    background-image: url('../img/project/team_main.jpeg');
    background-position: top;
    background-size: cover;
}

.project_text {
    width: 65%;
    height: 18%;
    margin-top: 2%;
    margin-left: 3%;
    display: flex;
    justify-content: space-between;
}

.pro_home_img {
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pro_home_img h6 {
    font-size: 16px;
    font-family: 'Courgette', cursive;
    letter-spacing: 0.2em;
    margin-top: 5px;
}

.page_go {
    width: 50px;
    height: 50px;
    transition: transform 0.5s;
}

.page_go:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.page_go img {
    width: 100%;
    height: 100%;
}

.project_content {
    width: 48%;
    height: 100%;
    padding: 1.5%;
}

.project_content h3 {
    margin-top: 2%;
    font-size: 1.4em;
    font-family: 'ghanachoco';
    letter-spacing: 0.2em;
    /* font-family: 'GyeonggiTitleM'; */
    /* font-family: 'BCcardB'; */
}

.project_content h3 span {
    font-size: 0.65em;
    color: #ba000c;
    letter-spacing: 2px;
}

.project_content p {
    font-family: 'GyeonggiTitleM';
    font-weight: lighter;
    letter-spacing: 1.5px;
    font-size: 1.45rem;
    line-height: 40px;
}

.function_content {
    margin-top: 5%;
}

.pj_color {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 5%;
    margin-bottom: 4%;
}

.pj_color p {
    margin-right: 20px;
}

.pj_c {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

#pj1_mc1 {
    background-color: #f6f5f1;
    border: 2px solid #f6f5f1;
}

#pj1_mc2 {
    background-color: #ba000c;
    border: 2px solid #ba000c;
}

/* fixed section */
.tab_box {
    position: fixed;
    bottom: 2%;
    left: 50%;
    z-index: 50;
    transform: translateX(-50%);
}

.tab_box ul {
    display: flex;
    width: 1300px;
    height: 60px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
    border: 1px solid #fff;
}

.tab_box ul li {
    margin: 0 5px 0 5px;
    color: #fff;
    display: block;
    /* font-family: 'Courgette', cursive; */
    font-family: 'LeferiBaseType-RegularA';
    font-weight: bold;
    line-height: 60px;
    font-size: 17px;
}

.tab_box ul .tab_1 {
    color: red;
}

#gotab {
    position: fixed;
    width: 100px;
    height: 450px;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    background-color: rgba(56, 56, 56, 0.1);
}

.fixed {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.fixed img {
    width: 60%;
    height: 60%;
    margin: 5px auto;
    display: block;
}

.fixed p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 15px;
    font-family: 'Courgette', cursive;
}

.fixed:hover p {
    color: #888888;
}