@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Magra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,600&display=swap');

:root {
	font-size: 16px;

	--link-translate-x: 3rem;
}

#main a {
	text-decoration: none;

	&:focus {
		outline: none;
		border: none;
	}
}

#main_tab {
	padding-top: 7%;
}

.tab {
	&_link {
		font-size: 9rem;
		color: #333;
		display: grid;
		font-style: italic;
		margin: 3px;

		&_Text {
			grid-area: 1/1;
			transition: opacity 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95),
				transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);

			.word {
				white-space: nowrap;
			}

			.char {
				display: inline-block;
				transform-origin: 50% 50% 0.4em;
				transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
				transition-delay: calc(0ms + var(--char-index) * 25ms);
				backface-visibility: hidden;
				margin: 0 -0.01em;
			}
		}

		&_Text:nth-child(1) {
			// font-family: 'Luxurious Roman', cursive;
			// font-family: 'Merienda', cursive;
			font-family: 'El Messiri', sans-serif;
			font-weight: 500;
		}

		&_Text:nth-child(2) {
			// font-family: "Roboto";
			// font-family: 'Magra', sans-serif;
			font-family: 'El Messiri', sans-serif;
			font-weight: 500;
			opacity: 0;
			color: #fff;

			.char {
				transform: rotate3d(1, -0.5, 0, 90deg);
				// OR
				// transform: rotateX(90deg) rotateY(-45deg);
			}
		}

		&:hover {
			.tab_link_Text {
				transform: translateX(var(--link-translate-x));

				&:nth-child(1) {
					opacity: 0;

					.char {
						transform: rotate3d(1, 0.3, 0, -90deg);
						// OR
						// transform: rotateX(-90deg) rotateY(-27deg);
					}
				}

				&:nth-child(2) {
					opacity: 1;

					.char {
						transform: rotate3d(0, 0, 0, 90deg);
						// OR
						// transform: rotate(0);
					}
				}
			}
		}
	}
}

#main_1 .word {
	position: relative;
	z-index: 1;
	height: 100%;

	&::before {
		content: '';
		background: radial-gradient(circle at 40% 20%, #fcfcfc 0%, #ddd 10%, #333 50%, #383838 70%);
		border-radius: 50%;
		width: 250px;
		height: 250px;
		position: absolute;
		z-index: 1;
		left: 50%;
		top: 50%;
		transform: translate(-40%, -35%);
		filter: blur(0.7px);
	}
}

#main_1{
	& span{
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		color: #fff;
		font-weight: bold;
		font-size: 30px;
		font-family: 'Titillium Web', sans-serif;
	}
}

#contact_image{
	width: 100%;
	height: 70%;
	position: relative;
	margin-right: 50px;
	// overflow: hidden;
	padding-bottom: 10%;
}

#canvas {
    height: 90%;
    width: 90%;
	position: absolute;
	top: 55%;
	left: 55%;
	transform: translate(-50%, -50%);
}

.copy {
    position: absolute;
    top: 55%;
	transform: translateY(-50%);
    left: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    pointer-events: none;
    z-index: 100;
    
    & #my_photo{
        width: 45%;
        height: 55%;
		margin: 0 auto;
        border-radius: 50%;
        background-color: rgba(56, 56, 56,0.7);
        z-index:90;
    }

}






